
<div class="bg-gray-100/75 px-3 pb-4 rounded-lg border-2 my-4">
    <h1 class="underline text-red-600"><%= @blog_post.title %></h1>
    <%= @blog_post.body %>
    <br>
    <div class='hover:text-blue-600' >
    </div>
    
</div>
<%= link_to "Edit", edit_blog_post_path(@blog_post) if user_signed_in?%>